<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header hideToggle>
            <mat-panel-title>
                <span class="material-icons">
                memory
                </span> <i> Algorithm</i>
            </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptate nisi possimus? Unde voluptatum laboriosam accusantium fugiat, nihil, aliquam quaerat esse omnis maiores placeat quasi? Facilis aut ab nisi ullam?
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="material-icons">
                group_work
                </span> <i>MasterNodes</i>
            </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptate nisi possimus? Unde voluptatum laboriosam accusantium fugiat, nihil, aliquam quaerat esse omnis maiores placeat quasi? Facilis aut ab nisi ullam?
        </mat-panel-description>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title><span class="material-icons">
              savings
              </span>
                <i>Emitions</i>

            </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptate nisi possimus? Unde voluptatum laboriosam accusantium fugiat, nihil, aliquam quaerat esse omnis maiores placeat quasi? Facilis aut ab nisi ullam?
        </mat-panel-description>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="material-icons">
                card_giftcard
                </span>
                <i>Rewards</i>

            </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptate nisi possimus? Unde voluptatum laboriosam accusantium fugiat, nihil, aliquam quaerat esse omnis maiores placeat quasi? Facilis aut ab nisi ullam?
        </mat-panel-description>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="material-icons">
                extension
                </span>
                <i>Mining</i>

            </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
            <h1>title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos et, nesciunt dolor dicta ab repellendus optio error eum at quam nobis enim aliquid saepe esse ea vitae ducimus assumenda similique!</p>
        </mat-panel-description>

    </mat-expansion-panel>
</mat-accordion>
