<swiper [config]="config">

    <div class="swiper-wrapper">

        <div class="swiper-slide">


            <div class="swiper-img" style="background: url(../../../assets/img/block-chain-crypto-currency-blockchain-concept-3d-wireframe-chain-with-digital-code-editable-cryptocurrency-template-stock-vector-illustration/26.svg);background-size:cover">
            </div>
            <div class="divP">
                <h1>Tittle</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione aliquid placeat magnam veritatis ipsa similique, quisquam veniam nulla dolores nam totam aspernatur! Ipsum voluptate illo debitis, accusamus praesentium distinctio?</p>

            </div>
        </div>


        <div class="swiper-slide">

            <div class="divP">
                <h1>Tittle</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione aliquid placeat magnam veritatis ipsa similique, quisquam veniam nulla dolores nam totam aspernatur! Ipsum voluptate illo debitis, accusamus praesentium distinctio?</p>

            </div>
            <div class="swiper-img" style="background: url(../../../assets/img/hexagonal-grid-background-with-padlocks-icon-security-blockchain-network-concept/243.jpg);background-size:cover">


            </div>
        </div>
        <div class="swiper-slide">

            <div class="divP">
                <h1>Tittle</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione aliquid placeat magnam veritatis ipsa similique, quisquam veniam nulla dolores nam totam aspernatur! Ipsum voluptate illo debitis, accusamus praesentium distinctio?</p>

            </div>
            <div class="swiper-img" style="background: url(../../../assets/img/security-shield-background/2.jpg);background-size:cover">


            </div>
        </div>
        <div class="swiper-slide">

            <div class="divP">
                <h1>Tittle</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione aliquid placeat magnam veritatis ipsa similique, quisquam veniam nulla dolores nam totam aspernatur! Ipsum voluptate illo debitis, accusamus praesentium distinctio?</p>

            </div>
            <div class="swiper-img" style="background: url(../../../assets/img/technological-background-with-circuit-lines-diagram-blue-color/26290.jpg);background-size:cover">

            </div>
        </div>
        <div class="swiper-slide">

            <div class="divP">
                <h1>Tittle</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione aliquid placeat magnam veritatis ipsa similique, quisquam veniam nulla dolores nam totam aspernatur! Ipsum voluptate illo debitis, accusamus praesentium distinctio?</p>

            </div>
            <div class="swiper-img" style="background: url(../../../assets/img/cryptocurrency-mining-equipment-isometric-ethereum-digital-currency-extract/401.jpg);background-size:cover">


            </div>
        </div>



    </div>
    <!-- Add Pagination -->
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>




    <!--<div>
    <swiper [config]="config">

        <div *ngIf="!this.myClass" class="swiper-slide">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione aliquid placeat magnam veritatis ipsa similique, quisquam veniam nulla dolores nam totam aspernatur! Ipsum voluptate illo debitis, accusamus praesentium distinctio?</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A fuga enim, tempora veniam aperiam placeat laborum dolorum, quo eius explicabo quibusdam perferendis libero totam corrupti vero architecto! Sint, adipisci asperiores?</p>
        </div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum harum aspernatur, quo eaque exercitationem excepturi libero dignissimos magni et quasi dolores illo aperiam veritatis pariatur voluptatibus aliquid porro praesentium quia.</p>
        </div>
        <div>
            <p></p>
        </div>
        <div>.</div>
        <!-- Add Pagination -->
    <!-- Add Pagination -->
    <!--<div class="swiper-pagination swiper-pagination-white"></div>

    </swiper>

</div>-->
