<swiper [config]="swiper2" class="swiper-container swiper-wrapper-container">


    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(../../../assets/img/cryptocurrency-blockchain-isometric-composition-platform-creation-digital-currency/slogan.svg)">

        </div>
        <div class="swiper-slide" style="background-image:url(../../../assets/img/logo.jpg)">
        </div>
        <div class="swiper-slide" style="background-image:url(../../../assets/img/cryptocurrency-blockchain-isometric-composition-platform-creation-digital-currency/slogan.svg)">

        </div>
        <div class="swiper-slide" style="background-image:url(../../../assets/img/logo.jpg)">
        </div>

    </div>

    <div class="swiper-pagination"></div>




    <!-- Add Pagination -->
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Arrows -->

</swiper>
