<footer class="main-footer">

    <div class="links">

        <ul class="sprint__links">´
            <li class="external">External Links</li>
            <li class="main-footer__link">
                <a href="#">Block Explorer</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Github Wallets </a>
            </li>
            <li class="main-footer__link">
                <a href="#">GitHub Repository</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Bitcointalk</a>
            </li>
        </ul>
    </div>
    <div class="Walletlinks">

        <ul class="wallet__links">´
            <li class="external">Wallets</li>
            <li class="main-footer__link">
                <a href="#">Windows</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Linux</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Android</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Mac</a>
            </li>
        </ul>
    </div>

    <div class="Especlinks">

        <ul class="espec__links">´
            <li class="external">Features</li>
            <li class="main-footer__link">
                <a href="#">MasterNodes</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Mining Pool</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Exchanges</a>
            </li>
            <li class="main-footer__link">
                <a href="#">documentations</a>
            </li>
        </ul>
    </div>

    <div class="Learnlinks">

        <ul class="learn__links">´
            <li class="external">Learning</li>
            <li class="main-footer__link">
                <a href="#">Algorithm</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Integration</a>
            </li>
            <li class="main-footer__link">
                <a href="#">RoadMap</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Adoption</a>
            </li>
        </ul>
    </div>


    <div class="Rellinks">

        <ul class="rel__links">´
            <li class="external">Relationship</li>
            <li class="main-footer__link">
                <a href="#">About</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Contact</a>
            </li>

        </ul>
    </div>


    <div id="social">
        <h1 class="follow">follow us on:</h1>
        <nav>
            <ul class="social__links">
                <li class="main-footer__link">
                    <a href="#">
                        <mat-icon class="fb" svgIcon="facebook" aria-hidden="false" aria-label="Example home icon"></mat-icon>
                    </a>
                </li>
                <li class="main-footer__link">
                    <a href="#">
                        <mat-icon class="dd" svgIcon="discord" aria-hidden="false" aria-label="Example home icon"></mat-icon>
                    </a>
                </li>
                <li class="main-footer__link">
                    <a href="#">
                        <mat-icon class="tw" svgIcon="twitter" aria-hidden="false" aria-label="Example home icon"></mat-icon>
                    </a>
                </li>
                <li class="main-footer__link">
                    <a href="#">
                        <mat-icon class="gt" svgIcon="github" aria-hidden="false" aria-label="Example home icon"></mat-icon>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div>

        <nav>
            <ul class="main-footer__links">
                <li class="main-footer__link">
                    <a href="#">Support</a>
                </li>
                <li class="main-footer__link">
                    <a href="#">Terms of Use</a>
                </li>
                <li class="main-footer__link">
                    <div class="aRreserve">

                        <a href="#">
                          All rights reserved. Copyright

                    </a>
                        <mat-icon id="copyright" aria-hidden="false" aria-label=" copyright icon"> copyright </mat-icon>
                        <p style="color: white; margin: 5px;">{{years}} SprintPay</p>
                    </div>

                </li>
            </ul>
        </nav>
    </div>

</footer>
