html,
body {
    height: auto;
    padding-bottom: 25%;
}

.container {
    display: inline-block;
    height: auto;
    width: 100%;
    padding-bottom: 50%;
}

mat-card {
    height: 60%;
    width: 100%;
    position: absolute;
    margin-top: 5%;
    border-radius: 0;
    background: #004EBB;
    background-image: url(../../../assets/img/cryptocurrency-blockchain-isometric-composition-platform-creation-digital-currency/20810499.svg);
    background-size: 80vw auto;
    background-attachment: local;
    background-position: right;
    background-repeat: no-repeat;
}

mat-grid-title {
    display: flex;
    width: 100%;
    height: 50%;
    background: #011936;
    position: absolute;
    padding-bottom: 0;
}

app-swiper {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 4%;
}

#gridFirst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    z-index: 1;
}

#gridSecond {
    background: #011936;
    margin: 12% 0 5% 5%;
}

#gridthird {
    background: #011936;
    margin: 8% 0 15% 8%;
}

.mainLayout {
    position: relative;
    width: 100vw;
    height: 90vh;
    background: #0C8CED;
    margin-top: 38%;
    margin-left: 0.5%;
}

#mainLayoutSecond {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100%;
    background: #0C8CED;
    margin-top: 3%;
    margin-left: 0.5%;
    padding-top: 3%;
    padding-bottom: 10%;
}


/*#mainLayoutSecond>div {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: #0C8CED;
    top: 122%;
}*/

.container-start {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.container-start-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.left-poligon {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
}

.left-poligon-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
}

.right-poligon {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
}

.right-poligon-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
}

.polingon-card {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;
    margin: 5%;
}

.polingon-card-2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
    margin: 5%;
}

.polingon-card-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10%;
}

.polingon-card-main-2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
}

.transfer-poligon-2>img {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: white;
    border: 2px black solid;
    padding: 5px;
    margin-left: -15%;
}

.main-poligon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    padding-bottom: 5%;
}

.main-poligon-text-2 {
    display: flex;
    color: white;
    width: 350px;
    height: 180;
    background: #26547c;
    border-radius: 5px;
    margin-bottom: 10%;
    margin-left: 10%;
    padding: 5%;
}


/*#gridForth {
    background: #011936;
    margin: 12% 0 0 12%;
}*/

#gridFifh {
    display: flex;
    position: absolute;
    background: #011936;
    margin-left: 10%;
    margin-top: 25%;
    margin-bottom: 10%;
}

.secondContainer {
    margin: 15%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: 15%;
}

#gridssixth {
    display: flex;
    background: #011936;
    margin-top: 30%;
    margin-left: 10%;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-left: 3%;
    margin-top: 3%;
}

article {
    display: flex;
    position: absolute;
    width: 40%;
    flex-shrink: unset;
    left: 5%;
    bottom: 0;
}

.slogan>article>p {
    font-size: 1.2rem;
    text-align: center;
}

h1 {
    display: flex;
    position: relative;
    font-size: 2rem;
    margin-top: 1%!important;
    padding-top: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    /*color: #2260d3;*/
    color: dodgerblue;
    font-weight: 600;
    /*text-shadow: 2px 2px 3px whitesmoke;*/
    text-shadow: 2px 2px 3px whitesmoke;
    text-align: unset;
}

h3 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin: 0.5rem 0 0 7%;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 5px black;
    margin-top: 0.5rem;
}

.jumbo {
    display: flex;
    flex-direction: row;
    -ms-flex-align: start;
    justify-content: center;
}

.imgLogo {
    display: flex;
    left: 0;
}

.carousel {
    width: 20%;
}

#logo {
    margin-top: 3%;
    border-radius: 50%;
    box-shadow: 2px 3px 10px white;
    z-index: 99;
}

img#logo {
    width: 200px;
    height: 200px;
    position: absolute;
    padding: 1%;
    transition: all 1s ease-out;
    bottom: 15%;
    left: 3%;
}

img#logo:hover {
    opacity: 0;
    transform: rotateY(-3turn);
    background-image: none;
}

img#logo:before {
    opacity: 1;
    position: relative;
    width: 350px;
    height: 350px;
    transition: all .2s;
}

img#logo:hover:before {
    opacity: 1;
    width: 350px;
    height: 350px;
    transform: rotateY(-3turn);
}

mat-grid-list {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.gridGruop>#gridSecond,
#gridthird,
#gridForth {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 2px 2px grey;
}

.gridGruop>#gridSecond:hover,
#gridthird:hover,
#gridForth:hover {
    padding: 0.2rem;
    box-shadow: 1px 2px 3px gold;
}

.gridGruop {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
}

app-carousel {
    width: 99%;
}

app-info {
    height: 85%;
}
