<div class="container">
    <div class="row">
        <mat-card>
            <h1>Welcome <span style="margin-left: -12%;"><br>to SprintPay</span> </h1>
            <h3><span style="color: #2260d3;">[</span>SPRX<span style="color: #2260d3;">]</span></h3>
            <div class="jumbo">
                <div class="imgLogo">
                    <img id="logo" src="../../../assets/img/logo.jpg" alt='logo'>
                    <article>
                        <p>building the future while <br><span style="margin-left: 12%;">living the present</span></p>
                    </article>
                </div>
                <!--  <div class="slogan">


                <!--<app-carousel [isCarrousel]="false"></app-carousel>
                </div>-->
                <app-swiper></app-swiper>
            </div>
        </mat-card>
    </div>
    <div class="row mainLayout">
        <!---->
        <div class="container-start">

            <!--left poligon-->
            <div class="left-poligon">
                <div class="polingon-card">
                    <div class="transfer-poligon">
                        <img src="../../../assets/img/definition/transfer.png">
                    </div>
                    <div class="main-poligon-text">
                        <h1>Instant Transfer</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="polingon-card">
                    <div class="transfer-poligon">
                        <img src="../../../assets/img/definition/sharing.png">
                    </div>
                    <div class="main-poligon-text">
                        <h1>Multi Platform</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>



            </div>

            <!--main poligon-->
            <div class="polingon-card-main">
                <div class="main-poligon">
                    <img src="../../../assets/img/definition/main.png">


                </div>
                <div class="main-poligon-text">
                    <h1>MasterNodes</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <!--right poligon-->
            <div class="right-poligon">
                <div class="polingon-card">
                    <div class="transfer-poligon">
                        <img src="../../../assets/img/definition/g8420.png">
                    </div>
                    <div class="main-poligon-text">
                        <h1>Mining</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="polingon-card">
                    <div class="transfer-poligon">
                        <img src="../../../assets/img/definition/cloud.png">
                    </div>
                    <div class="main-poligon-text">
                        <h1>cloud</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!--third-->
    <div class="row">

        <mat-grid-list cols="12" rowHeight="200px">


            <mat-grid-tile id="gridFirst" [colspan]="12" [rowspan]="3">
                <app-carousel></app-carousel>

            </mat-grid-tile>
            <mat-grid-tile id="mainLayoutSecond" [colspan]="12" [rowspan]="3.5">

                <div class="container secondContainer">
                    <div class="container-start-2">

                        <!--left poligon-->
                        <div class="left-poligon-2">
                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/bank.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Instant Transfer</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                </div>
                            </div>
                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/p2p.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Multi Platform</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>

                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/wallet.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Multi Platform</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>


                        </div>

                        <!--main poligon-->
                        <div class=".polingon-card-main-2">
                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/trading.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Instant Transfer</h1>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/distribution.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Multi Platform</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>

                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/idea.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Multi Platform</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>

                        <!--right poligon-->
                        <div class="right-poligon-2">
                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/money.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Instant Transfer</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                </div>
                            </div>
                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/robot.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Multi Platform</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>

                            <div class=".polingon-card-2">
                                <div class="transfer-poligon-2">
                                    <img src="../../../assets/img/definition/BitCoin.png">
                                </div>
                                <div class="main-poligon-text-2">
                                    <h1>Multi Platform</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>



            </mat-grid-tile>


            <!--<div class="gridGruop">-->

            <!-- <mat-grid-tile id="gridSecond" [colspan]="3" [rowspan]="3">

                    <app-cards [card]="false" [position]="!right"></app-cards>
                </mat-grid-tile>

                <mat-grid-tile id="gridthird" [colspan]="4" [rowspan]="4">
                    <app-cards [card]="true" [position]="'center'"></app-cards>
                </mat-grid-tile>
                <mat-grid-tile id="gridForth" [colspan]="3" [rowspan]="3">
                    <app-cards [card]="false" [position]="right"></app-cards>
                </mat-grid-tile>-->

            <mat-grid-tile id="gridFifh" [colspan]="11" [rowspan]="3">
                <mat-grid-tile-header>
                    News and Update
                </mat-grid-tile-header>
                <app-info></app-info>

            </mat-grid-tile>

            <mat-grid-tile id="gridssixth" [colspan]="11" [rowspan]="3">

                <app-tabs></app-tabs>



            </mat-grid-tile>

            <!-- </div>-->


        </mat-grid-list>
    </div>









</div>
