<div class="first">
    <img src="../../../assets/img/timeline-infographic-template (1)/timeline.png">

    <div class="linea">
        <img src="../../../assets/img/timeline-infographic-template (1)/lineDeTiempo.png">
    </div>
    <div class="row flexis">
        <div class="quarter">
            <h3>Q1</h3>
        </div>

        <div class="legend">
            <h4>title</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

</div>


<div class="screenRow">
    <div class="screen">
        <div class="part1">
            <img src="../../../assets/img/timeline-infographic-template (1)/screen_par1.png">
        </div>
        <div class="main">
            <img src="../../../assets/img/timeline-infographic-template (1)/main.png">
        </div>
        <div class="part2">
            <img src="../../../assets/img/timeline-infographic-template (1)/screen_par2.png">
        </div>

    </div>
</div>
