    html,
    body {
        height: auto;
        width: 100%;
    }

    .first {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .first>img {
        display: flex;
        margin-top: 20%;
        margin-left: 10%;
        width: auto;
        height: auto;
        z-index: 99;
        padding-bottom: 5%;
    }

    .quarter {
        display: flex;
        flex-direction: row;
        width: 64px;
        height: 48px;
        position: absolute;
        margin-left: -12%;
        margin-top: -2%;
        z-index: 999;
        text-align: center;
        font-size: 72px;
        font-weight: 600;
        font-style: bold;
    }

    .flexis {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 30%;
        left: 15%;
        margin-top: 8%;
        z-index: 99;
    }

    .quarter>h3 {
        display: flex;
        font-size: 56px;
        color: white;
        text-shadow: black 2px 2px;
        top: 5%;
    }

    .legend {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        color: white;
        width: 27%;
        left: 12%;
        padding-left: 17%;
    }

    .legend>h4 {
        margin-bottom: 0;
    }

    .legend>p {
        font-size: 11px;
        margin-bottom: 10%;
    }

    .screenRow {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 15%;
    }

    .screen {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .linea {
        display: flex;
        position: absolute;
        top: 25%;
    }

    .part1 {
        display: flex;
        position: absolute;
        height: auto;
        margin-top: -20%;
        left: 100%;
    }

    .main {
        display: flex;
        position: relative;
        height: auto;
        margin-left: 109%;
    }

    .part2 {
        display: flex;
        position: relative;
        height: auto;
        margin-left: 100%;
    }
