html,
body {
    display: flex;
    height: auto;
    padding-bottom: 25%;
}

.container {
    margin-top: 15%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding-bottom: 50%;
}

.cardTap {
    position: absolute;
    margin-top: 5%;
}

#cards {
    margin-top: 25%;
}
