<div class="container">
    <div class="swiper-container ">
        <div class="swiper-wrapper">

            <div *ngFor="let sl of this.slider" class="swiper-slide">
                <h4>{{sl.title}}</h4>
                <p>{{sl.desc}}</p>
                <p>{{sl.tab}}</p>


                <p>{{sl.third}}</p>
                <p>{{sl.forth}}</p>
                <p>{{sl.fiveth}}</p>
                <p>{{sl.desc}}</p>
                <p>{{sl.tab}}</p>


                <p>{{sl.third}}</p>
                <p>{{sl.forth}}</p>
                <p>{{sl.fiveth}}</p>
            </div>

        </div>

    </div>
    <!-- Add Scroll Bar -->
    <div class="swiper-scrollbar"></div>
    <div class="download">
        <button mat-raised-button color="primary">Download(pdf)</button>
    </div>

</div>
